/* ODI Site Styles. Last updated 2021-06-16 */

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://open-innovations.org/resources/fonts/Poppins/pxiDyp8kv8JHgFVrJJLmr19VFteOcEg.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://open-innovations.org/resources/fonts/Poppins/pxiDyp8kv8JHgFVrJJLmr19VGdeOcEg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://open-innovations.org/resources/fonts/Poppins/pxiDyp8kv8JHgFVrJJLmr19VF9eO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://open-innovations.org/resources/fonts/Poppins/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://open-innovations.org/resources/fonts/Poppins/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://open-innovations.org/resources/fonts/Poppins/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Main site styling */
body { background-color: #000000; font-family: Arial,sans-serif; font-size: 16px; color: #efefef; line-height: 1.44em; text-rendering: optimizeLegibility; }
p, iframe, h2, h3, figure, ul, ol, .block, .padded-bottom { margin-bottom: 16px; }
h1,h2,h3,h4 { font-family: Poppins; line-height: 1em; }
h1 { font-size: 2em; margin-top: 1em; }
h2 { font-size: 1.7em; margin-top: 1.7647058823529411em; font-weight: 500; }
h3 { font-size: 1.4em; margin-top: 1.428571em; }
h1:first-child, h2:first-child, h3:first-child { margin-top: 0; }
strong, b { font-weight: 700; }
em, i { font-style: italic; }
h2 a, h3 a,p a { color: #2254F4; text-decoration: underline; }
p, time, li, td, th, footer, div { font-weight: 300; }
button, .button { border: 0px; font-size: 1em; background-color: #efefef; color: black; text-decoration: none!important; display: inline-block; padding: 0.5em 1em; cursor: pointer; vertical-align: top; line-height: 1.25em; }
a:hover, a:focus { text-decoration: underline; }
iframe { width: 100%; }
figure iframe, figure img { margin-bottom: 0px; max-width: 100%; }
figcaption {
	font-size: 0.8em;
	margin-top: 0.5em;
	line-height: 1.5em;
	color: #999999;
	text-align: center;
}
blockquote { min-height: auto!important; background: #efefef; padding: 1em 3em; margin-bottom: 1em; position: relative; quotes: "\201C""\201D""\2018""\2019"; }
blockquote:before { content: open-quote; left: 0.25em; }
blockquote:after { content: close-quote; right: 0.25em; }
blockquote:before, blockquote:after { color: #ccc; position: absolute; top: 0.6em; line-height: 0.1em; font-size: 4em; }
blockquote footer { padding: 1em 0 0 0; }
blockquote cite:before { content: "-- "; }
blockquote a { color: inherit; }
blockquote:last-child { margin-bottom: 0; }
code,pre { font-family: monospace; color: #555555; background-color: #efefef; }
code { padding: 0.125em 0.25em; }
pre { max-width: 100%; overflow-x: auto; padding: 16px; margin-bottom: 16px; }
code .comment, pre .comment { color: #0DBC37; }
code .fn, pre .fn { color: #00B6FF; }
code .str, pre .str { color: #D73058; }


.holder { position: relative; width: 1080px; max-width: 100%; margin: auto; }
.padded { padding: 1em; }
.block { display: block; }
.padded-vertical { padding: 1em 0; }
.doublepadded { padding: 2em; }
.tallpadded, #main .tallpadded { padding-top: 5em; padding-bottom: 5em; }

.b6-bg { background: white; color: #222; }


h1 + * { margin-top: 1em; }

input,select { line-height: 2em; padding: 0 0.25em; font-size: inherit; }
input#area { width: 300px; }

.leaflet-container, .leaflet-popup { font-size: 1em; }
.leaflet-popup-content { margin: 2em; }
.leaflet-popup-content *:last-child { margin-bottom: 0; }
.leaflet-popup-content-wrapper { border-radius: 0; }

#map {
	width: 100%;
	height: 500px;
	max-height: 80vh;
	position: relative;
	margin: 1em 0;
	border: 1px solid #ddd;
}
.loader { 
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%,-50%,0);
}

.typeahead-results { width: 100%; z-index: 1000; }
.typeahead-results ol { list-style: none; margin: 0px; padding: 0px; max-height: 20em; overflow-y: auto;  }
.typeahead-results li > a { padding: 0.25em 0.5em; background: #efefef; text-decoration: none; display: block; color: inherit; line-height: 1.5em; }
.typeahead-results li > a:hover, .typeahead-results li.selected > a:hover { background-color: #2254F4; color: white; }
.typeahead-results li.selected > a { background-color: #444; color: white; }

.table-wrapper { max-width: 100%; overflow-x: auto; }
table { border-collapse: collapse; width: 100%; }
table tr:hover { background: #ddd; }
table td, table th { border: 1px solid #ddd; padding: 0.25em 0.5em; }
table th { background: #222; color: white; vertical-align: bottom; }
table td.num { text-align: center; }
/*table th span { writing-mode: vertical-lr; }*/

section { padding: 1em 0; }

#weights .category { display: grid; grid-template-columns: minmax(auto, 180px) 1fr auto auto auto; vertical-align: middle; grid-gap: 0.5em; }
#weights input { margin: auto; padding: 0; width: 100%; }
#weights label { display: block; text-align: left; padding-right: 0.5em; }
#weights label.invert { padding-right: 0; }
#weights .value { min-width: 2em; padding-left: 0.25em; padding-right: 0.5em; text-align: left; }

html, footer { background: #000; color: white; }
footer ul { list-style: disc; }
footer ul li { margin-left: 1em; }
footer a, footer a:visited { color: inherit; }